*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	moz-box-sizing:border-box;
	box-sizing:border-box;	
}

body{
	background: #f0f2f1;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
}

.contenedor{
	max-width: 1400px;
	margin: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta{
	margin: 20px;
}

.contenedor_tarjeta a{
	display: inline-block;
}

.contenedor_tarjeta:hover figure{
	-webkit-transform:perspective(600px) rotateY(180deg);
	-ms-transform:perspective(600px) rotateY(180deg);
	-0-transform:perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);

-webkit-box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
}

/*.contenedor_tarjeta:hover figure img {
	filter: blur(5px);
}*/

figure {
	width: 500px;
	height: 550px;
	margin: 0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera{
	width:100%;
	height: 100%;
	border-radius: 10px;
	transition: all ease .5s;
}

figure .frontal{
	display: block;
	/*backface-visibility: hidden;*/

	-webkit-box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.25);
}

figure .trasera{
	position: absolute;
	top:0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;

/*background: #c31432;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor_tarjeta:nth-child(2) figure .trasera{
background: rgba(218,121,68,1);
background: -moz-linear-gradient(left, rgba(218,121,68,1) 0%, rgba(116,51,53,0.88) 50%, rgba(247,191,61,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(218,121,68,1)), color-stop(50%, rgba(116,51,53,0.88)), color-stop(100%, rgba(247,191,61,0.75)));
background: -webkit-linear-gradient(left, rgba(218,121,68,1) 0%, rgba(116,51,53,0.88) 50%, rgba(247,191,61,0.75) 100%);
background: -o-linear-gradient(left, rgba(218,121,68,1) 0%, rgba(116,51,53,0.88) 50%, rgba(247,191,61,0.75) 100%);
background: -ms-linear-gradient(left, rgba(218,121,68,1) 0%, rgba(116,51,53,0.88) 50%, rgba(247,191,61,0.75) 100%);
background: linear-gradient(to right, rgba(218,121,68,1) 0%, rgba(116,51,53,0.88) 50%, rgba(247,191,61,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da7944', endColorstr='#f7bf3d', GradientType=1 );

}

.contenedor_tarjeta:nth-child(3) figure .trasera{
background: rgba(29,31,83,1);
background: -moz-linear-gradient(left, rgba(29,31,83,1) 0%, rgba(94,84,153,0.88) 49%, rgba(94,83,151,0.88) 50%, rgba(86,48,59,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,31,83,1)), color-stop(49%, rgba(94,84,153,0.88)), color-stop(50%, rgba(94,83,151,0.88)), color-stop(100%, rgba(86,48,59,0.75)));
background: -webkit-linear-gradient(left, rgba(29,31,83,1) 0%, rgba(94,84,153,0.88) 49%, rgba(94,83,151,0.88) 50%, rgba(86,48,59,0.75) 100%);
background: -o-linear-gradient(left, rgba(29,31,83,1) 0%, rgba(94,84,153,0.88) 49%, rgba(94,83,151,0.88) 50%, rgba(86,48,59,0.75) 100%);
background: -ms-linear-gradient(left, rgba(29,31,83,1) 0%, rgba(94,84,153,0.88) 49%, rgba(94,83,151,0.88) 50%, rgba(86,48,59,0.75) 100%);
background: linear-gradient(to right, rgba(29,31,83,1) 0%, rgba(94,84,153,0.88) 49%, rgba(94,83,151,0.88) 50%, rgba(86,48,59,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1f53', endColorstr='#56303b', GradientType=1 );
}

.contenedor_tarjeta:nth-child(4) figure .trasera{
background: rgba(28,68,102,1);
background: -moz-linear-gradient(left, rgba(28,68,102,1) 0%, rgba(79,107,140,0.88) 50%, rgba(150,196,220,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,68,102,1)), color-stop(50%, rgba(79,107,140,0.88)), color-stop(100%, rgba(150,196,220,0.75)));
background: -webkit-linear-gradient(left, rgba(28,68,102,1) 0%, rgba(79,107,140,0.88) 50%, rgba(150,196,220,0.75) 100%);
background: -o-linear-gradient(left, rgba(28,68,102,1) 0%, rgba(79,107,140,0.88) 50%, rgba(150,196,220,0.75) 100%);
background: -ms-linear-gradient(left, rgba(28,68,102,1) 0%, rgba(79,107,140,0.88) 50%, rgba(150,196,220,0.75) 100%);
background: linear-gradient(to right, rgba(28,68,102,1) 0%, rgba(79,107,140,0.88) 50%, rgba(150,196,220,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4466', endColorstr='#96c4dc', GradientType=1 );
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
background: rgba(153,32,16,1);
background: -moz-linear-gradient(left, rgba(153,32,16,1) 0%, rgba(123,140,153,0.88) 50%, rgba(22,12,12,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,32,16,1)), color-stop(50%, rgba(123,140,153,0.88)), color-stop(100%, rgba(22,12,12,0.75)));
background: -webkit-linear-gradient(left, rgba(153,32,16,1) 0%, rgba(123,140,153,0.88) 50%, rgba(22,12,12,0.75) 100%);
background: -o-linear-gradient(left, rgba(153,32,16,1) 0%, rgba(123,140,153,0.88) 50%, rgba(22,12,12,0.75) 100%);
background: -ms-linear-gradient(left, rgba(153,32,16,1) 0%, rgba(123,140,153,0.88) 50%, rgba(22,12,12,0.75) 100%);
background: linear-gradient(to right, rgba(153,32,16,1) 0%, rgba(123,140,153,0.88) 50%, rgba(22,12,12,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992010', endColorstr='#160c0c', GradientType=1 );
}


figure .trasera .titulo {
	color:#fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr{
	height: 3px;
	background: #fff;
	border:none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px){
	figure .trasera {
		backface-visibility: visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure{
		transform: perspective(600px) rotateY(0deg);
	}
}